[submodule "mcp-memory-service"]
	path = mcp-memory-service
	url = https://github.com/doobidoo/mcp-memory-service
[submodule "yay"]
	path = yay
	url = https://aur.archlinux.org/yay.git
[submodule "third_party/cuda-quantum"]
    path = third_party/cuda-quantum
    url = https://github.com/NVIDIA/cuda-quantum.git
[submodule "third_party/vllm-recipes"]
	path = third_party/vllm-recipes
	url = https://github.com/vllm-project/recipes
[submodule "third_party/stim"]
	path = third_party/stim
	url = https://github.com/quantumlib/Stim
